body{
    font-family:fantasy;
}

.header{
    text-align: center;
    font-size: 100px;
    background: linear-gradient(
        to right, #33718e, #66c9d0,
         #66c9d0, #437786);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}